%h1 Listing collections

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @collections.each do |collection|
    %tr
      %td= collection.name
      %td= collection.description
      %td= link_to 'Show', resource_path(collection)
      %td= link_to 'Edit', edit_resource_path(collection)
      %td= link_to 'Destroy', resource_path(collection), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Collection', new_resource_path
|
= link_to 'Back', projects_path

- puts collection_path