%h1 Listing collections

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @collections.each do |collection|
    %tr
      %td= collection.name
      %td= collection.description
      %td= link_to 'Show', "/projects/#{params[:project_id]}/collections/#{collection.id}"
      %td= link_to 'Edit', "/projects/#{params[:project_id]}/collections/#{collection.id}/edit"
      %td= link_to 'Destroy', "/projects/#{params[:project_id]}/collections/#{collection.id}", :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Collection', new_project_collection_path(@project)
