%h1 Listing collections

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @collections.each do |collection|
    %tr
      %td= collection.name
      %td= collection.description
      %td= link_to 'Show', collection_path(collection)
      %td= link_to 'Edit', '#'
      %td= link_to 'Destroy', collection_path, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Collection', new_project_collection_path
