= stylesheet_link_tag "collections"
= javascript_include_tag "collections"

%p#notice= notice

%h1= @project.name + "  >>  " + get_collection_path(@collection) 
= render 'form'

#spacer=  "==============================================="

#collections
   = get_level_2 @collection.children
   .item.addBtn
      = link_to 'New Collection', new_resource_path(:parent_id => @collection)



/= link_to 'Assets', project_collection_assets_path(@project, @collection)

#spacer=  "==============================================="

= link_to @project.name, @collection.is_root? ? parent_url : resource_path(@collection.parent)
