%p#notice= notice

%p
  %b Name:
  = @collection.name
%p
  %b Description:
  = @collection.description

= link_to 'Edit', edit_resource_path(@collection)
\|
= link_to 'New Child Collection', new_resource_path(:parent_id => @collection)
\|
= link_to 'Assets', project_collection_assets_path(@project, @collection)
\|
/ = link_to 'Back', collection_path
