= javascript_include_tag "projects"
= stylesheet_link_tag "projects"
= stylesheet_link_tag "form"

%h1 Editing project

= render 'form'

= link_to 'Show', @project
\|
= link_to 'Back', projects_path

