%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Client:
  = @project.client
%p
  %b Url:
  = @project.url
%p
  %b Description:
  = @project.description

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
|
= link_to 'Collections', project_collections_path(@project)

