= javascript_include_tag "project"
= stylesheet_link_tag "projects"
= stylesheet_link_tag "collections"

%p#notice= notice

= render 'form'

#spacer=  "==============================================="

#collections
   = get_level_1 @project.collections

   .item.addBtn
      = link_to "Add Collection", new_project_collection_path(@project)

#spacer=  "==============================================="

= link_to 'Projects', projects_path
