= stylesheet_link_tag "plupload/jquery.plupload.queue/css/jquery.plupload.queue"
= javascript_include_tag "plupload/jquery.plupload.queue/jquery.plupload.queue", "plupload/plupload", "plupload/plupload.flash", "plupload/plupload.html5", "plupload/plupload.html4"  
= javascript_include_tag "assets"
= stylesheet_link_tag "assets"
		
%h1= @project.name + "  >>  " + get_collection_path(@collection) + " >> Upload"

#uploader
	%p You browser doesn't have HTML5, Flash or Silverlight support.
	
= javascript_tag do
	= render "upload.js"

#spacer=  "==============================================="

#collections
	= render :partial => "asset", :collection => @assets

#spacer=  "==============================================="
= link_to @collection.name, parent_url

:javascript
	var uploadURL = "#{collection_path(@collection)}";
	

