%h1= @project.name + "  >>  " + get_collection_path(@collection) + " >> Upload"

= render 'form'


#spacer=  "==============================================="

= link_to @collection.name, parent_url

:javascript
	var uploadURL = "#{collection_path(@collection)}";