%p#notice= notice

%p
  %b Name:
  = @asset.name
%p
  %b Mimetype:
  = @asset.mimetype
%p
  %b Size:
  = @asset.size
%p
  %b Info:
  = @asset.info

= link_to 'Edit', edit_resource_path(@asset)
\|
= link_to 'Back', collection_path(@collection)
